<mat-toolbar color="primary" class="header">
  <mat-toolbar-row>
    <button @slideXLeftIn mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <div @slideXRightIn class="ml-auto">
      <button mat-icon-button [matMenuTriggerFor]="themeMenu">
        <mat-icon>color_lens</mat-icon>
      </button>

      <mat-menu class="px-1" #themeMenu="matMenu">
        <div class="row m-0 w-100 no-gutters">
          <div
            style="height: 48px;"
            class="col-6 d-flex justify-content-center align-items-center"
            [class.currentTheme]="currentTheme == 'light'"
          >
            <button
              mat-menu-item
              (click)="theme('light')"
              id="theme-btn-light"
            ></button>
          </div>
          <div
            style="height: 48px;"
            class="col-6 d-flex justify-content-center align-items-center"
            [class.currentTheme]="currentTheme == 'dark'"
          >
            <button
              mat-menu-item
              (click)="theme('dark')"
              id="theme-btn-dark"
            ></button>
          </div>
        </div>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
