.level-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-bottom: 1rem;

  height: calc(100vh - 64px - 2rem - 56px);

  @media screen and (max-width: 768px) {
    height: calc(100vh - 64px - 2rem - 96px);
  }

  //100vh - window full height
  //64px is a <header>'s height,
  //2rem is a margin bottom 1rem + 1rem from mt-3 class on paginator
  //56px or 96px is .level-controls-height depending on screen size
}

.level-1-container,
.level-2-container {
  overflow: auto;
  margin-bottom: 1.5rem;
  transition: flex-basis 750ms ease-in-out;
}

.level-2-container {
  height: 100%;
}

.level-not-found {
  margin: auto;
  padding: 6rem;
}

.level-spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
}

.level-controls {
  min-height: 56px;
}
