<div
  @fadeIn
  class="mx-3 mt-3 bg-theme mat-elevation-z6 row no-gutters level-controls"
>
  <div class="col-lg-4 col-12 d-flex align-items-center">
    <button
      mat-icon-button
      class="ml-2"
      [disabled]="containerSize == maxContainerSize"
      (click)="containerSize = containerSize + 1"
    >
      <mat-icon style="font-size: 1.57rem">add</mat-icon>
    </button>
    <button
      mat-icon-button
      [disabled]="containerSize == 0"
      (click)="containerSize = containerSize - 1"
    >
      <mat-icon style="font-size: 1.57rem">remove</mat-icon>
    </button>

    <button
      mat-icon-button
      (click)="defaultView()"
      *ngIf="currentView == 'detail'"
      @fadeIn
    >
      <mat-icon style="font-size: 1.57rem">arrow_back</mat-icon>
    </button>
    <button
      *ngIf="currentView != 'detail'"
      @fadeIn
      matTooltip="Export to excel"
      class="ml-3"
      color="accent"
      mat-icon-button
      (click)="exportToExcel()"
    >
      <mat-icon style="font-size: 1.57rem">save_alt</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Reset data" (click)="resetQuery()">
      <mat-icon style="font-size: 1.57rem">refresh</mat-icon>
    </button>

    <span
      *ngIf="currentView != 'detail'"
      @fadeInOut
      class="ml-4"
      style="font-size: 1.11rem;"
      >{{ currentPageName }}</span
    >
  </div>

  <div class="col">
    <div *ngIf="currentView != 'detail'" @fadeIn>
      <mat-paginator
        showFirstLastButtons
        *ngIf="totalItems$ | async as totalItems"
        [length]="totalItems"
        [pageIndex]="currentPageIndex"
        [pageSize]="currentPageSize"
        [pageSizeOptions]="[100, 500, 1000]"
        (page)="pageChange($event)"
        class="ml-auto"
      ></mat-paginator>
    </div>
  </div>
</div>
<section class="level-container px-3">
  <ng-container *ngIf="page$ | async as page; else notFound">
    <div
      class="level-1-container bg-theme mat-elevation-z6 position-relative"
      [style.flexBasis.%]="topLevelHeight"
    >
      <div @fadeInOut class="level-spinner-container" *ngIf="isLoading">
        <mat-spinner color="accent" diameter="90"></mat-spinner>
      </div>

      <div
        *ngIf="currentView == 'detail'"
        [@slideXInOut]="currentView == 'detail' ? 'right-in' : 'right-out'"
      >
        <page-detail></page-detail>
      </div>
      <div *ngIf="currentView != 'detail'" [@slideXInOut]="'left-in'">
        <page-table
          [items]="page.dataSource"
          [displayedColumns]="page.displayedColumns"
          [existingSearchOptions]="currentSearchOptions"
          [childPages]="hasChild"
          identifier="top-level-table"
          (searchChanged)="searchChanged($event)"
        >
        </page-table>
      </div>
    </div>
    <div 
      [style.flexBasis.%]="bottomLevelHeight"
      class="level-2-container position-relative bg-theme mat-elevation-z6"
      *ngIf="selectedRow" 
      @fadeInOut
    >
      <page-bottom-level
        *ngIf="childPages$ | async as childPages; else notSupported"
        [childPages]="childPages"
      >
      </page-bottom-level>
      <ng-template #notSupported>
        <div class="center h-100" @fadeIn>
          <h2>This module is not supported yet</h2>
        </div>
      </ng-template>
    </div>
  </ng-container>
  <ng-template #notFound>
    <div class="level-not-found" *ngIf="!isLoading" @fadeIn>
      <h2>Page Not Found</h2>
    </div>
  </ng-template>
</section>
