@import "variables";

.export-button {
  position: fixed;
}

div.level-1-container {
  position: relative;
  height: fit-content;
  max-height: 90%;
  overflow: auto;
}

.level-1-container,
.level-1-container-controls {
  margin: 1rem 0.5rem 0;
}

.excel-button {
  img {
    width: 30px;
    height: 30px;
  }
}
