<div class="level-1-container-controls mat-elevation-z2">
  <div class="row no-gutters m-0 w-100">
    <div class="col-4 d-flex align-items-center">
      <button
        matTooltip="Export to excel"
        class="excel-button ml-3"
        mat-icon-button
        (click)="ExportToExcel()"
      >
        <img src="/assets/file-excel.svg" />
      </button>
    </div>
    <div class="col-4 d-flex align-items-center justify-content-center">
      <p>{{ module.publishName }}</p>
    </div>
    <div class="col-4">
      <mat-paginator
        showFirstLastButtons
        [pageSizeOptions]="[100, 500, 1000, 5000]"
        (page)="pageChange($event)"
        [pageIndex]="currentPageIndex"
        [pageSize]="currentPageSize"
        [length]="totalItems"
      >
      </mat-paginator>
    </div>
  </div>
</div>

<div class="level-1-container mat-elevation-z2" #mainTable>
  <div class="spinner" *ngIf="isPending" @fadeInOut>
    <mat-spinner></mat-spinner>
  </div>

  <table mat-table [dataSource]="dataSource">
    <ng-container
      [matColumnDef]="column.originalTitle"
      *ngFor="let column of module.tableColumns; let i = index"
      [sticky]="i == 0"
    >
      <th
        mat-header-cell
        *matHeaderCellDef
        class="columnTitles"
        [ngClass]="{ 'sticky-cell': i == 0 }"
        (click)="onHeaderClick(column.originalTitle)"
      >
        {{ column.publicTitle }}
        <mat-icon
          *ngIf="column.originalTitle == currentSortColumn"
          style="position: absolute; top: 13px; right: 20px;"
          >{{ getSortIcon() }}</mat-icon
        >
      </th>
      <!-- <td
        mat-cell
        *matCellDef="let element"
        [innerHTML]="element | getValue: column.originalTitle | cleanData"
        [ngClass]="{ 'sticky-cell': i == 0 }"
      ></td> -->
    </ng-container>

    <ng-container
      [matColumnDef]="'f_' + column.originalTitle"
      *ngFor="let column of module.tableColumns; let i = index"
      [sticky]="i == 0"
    >
      <th
        mat-header-cell
        *matHeaderCellDef
        [ngClass]="{ 'sticky-cell': i == 0 }"
      >
        <mat-form-field
          *ngIf="filtersCreated"
          class="filter"
          floatLabel="never"
        >
          <mat-label>Search</mat-label>
          <input
            autocomplete="off"
            spellcheck="false"
            matInput
            [formControl]="filters[column.originalTitle]"
            (keyup)="onKeyUp()"
            style="color: black; font-size: 14px;"
          />
        </mat-form-field>
      </th>
    </ng-container>

    <tr
      mat-header-row
      *matHeaderRowDef="originalColumnTitles; sticky: true"
    ></tr>
    <tr mat-header-row *matHeaderRowDef="filterTitles; sticky: true"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: originalColumnTitles"
      (click)="onFocusedRowChanged($event)"
      [attr.data-id]="row[module.keyColumn]"
      [ngClass]="{ 'focused-tr': IsFocusedRow(row[module.keyColumn]) }"
    ></tr>
  </table>
</div>

<app-relation-tabs
  *ngIf="focusedRow != -1 && module.relatedModules"
  [mainModule]="module"
  [keyId]="focusedRow"
></app-relation-tabs>
