<mat-nav-list class="sidenav-container">
  <a
    mat-list-item
    *ngFor="let page of pages"
    routerLinkActive="active accent"
    routerLink="{{ page.link }}"
  >
    <mat-icon style="padding-right:10px;">{{ page?.icon }}</mat-icon>
    <span>{{ page.name }} </span>
  </a>
</mat-nav-list>
