.level-spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
}

.sticky-controls {
  position: sticky;
  left: 0;
  top: 0;
  z-index: 1020;
}
