<ng-container *ngIf="requests$ | async as requests">
  <div class="row w-100 m-0 sticky-controls no-gutters">
    <div class="col-12 col-xl-7 bg-theme">
      <mat-tab-group
        (selectedTabChange)="tabChange($event)"
        id="bottom-level-tab"
        [(selectedIndex)]="currentTabIndex"
        color="accent"
        class="w-100"
      >
        <mat-tab *ngFor="let request$ of requests" [label]="request$.title">
        </mat-tab>
      </mat-tab-group>
    </div>
    <div
      class="col-12 col-xl-5 d-flex bg-theme"
      *ngIf="totalItems$ | async as totalItems"
      @fadeIn
    >
      <mat-paginator
        (page)="pageChange($event)"
        showFirstLastButtons
        [pageSizeOptions]="[100, 500, 1000]"
        [length]="totalItems"
        [pageIndex]="currentPageIndex"
        [pageSize]="currentPageSize"
        class="ml-auto"
      ></mat-paginator>
      <button
        (click)="exportToExcel()"
        class="align-self-center"
        mat-icon-button
        id="bottom_exportButton"
      >
        <mat-icon
          matTooltip="Export to excel"
          color="accent"
          style="font-size: 1.57rem"
          >save_alt</mat-icon
        >
      </button>
    </div>
  </div>

  <ng-container *ngFor="let request$ of requests">
    <div
      style="min-height: 200px;"
      class="clearfix"
      *ngIf="request$.title == currentTabTitle"
    >
      <ng-container *ngIf="request$.page | async as page; else loading">
        <page-table
          class="absolute"
          [items]="page.dataSource"
          [displayedColumns]="page.displayedColumns"
          [existingSearchOptions]="currentSearchOptions"
          identifier="bottom-level-table"
          (searchChanged)="searchChanged($event)"
        >
        </page-table
      ></ng-container>
      <ng-template #loading>
        <div
          @fadeInOut
          class="level-spinner-container"
          *ngIf="isLoading; else noContent"
        >
          <mat-spinner color="accent" diameter="90"></mat-spinner>
        </div>
        <ng-template #noContent>
          <div
            style="min-height: 200px"
            class="d-flex justify-content-center align-items-center"
          >
            <span style="font-size: 1.1rem;" class="m-auto">No data found</span>
          </div>
        </ng-template>
      </ng-template>
    </div>
  </ng-container>
</ng-container>
