<div #mainTable>
  <table
    @fadeIn
    class="w-100"
    mat-table
    matSort
    [id]="identifier"
    [formGroup]="searchForm"
    [dataSource]="dataSource"
  >
    <ng-container
      *ngFor="let column of displayedColumns"
      [matColumnDef]="column"
    >
      <th
        style="line-height: 1.7;"
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        [class.bottom-level-sticky]="identifier === 'bottom-level-table'"
      >
        {{ column }}
      </th>
      <td style="line-height: 1.5;" mat-cell *matCellDef="let element">
        <ng-container
          *ngIf="element[column + '_effect'] as effect; else default"
        >
          <ng-container *ngIf="effect.type == 'link'; else checkPK">
            <a class="accent" [href]="effect.href" target="_blank">{{
              element[column]
            }}</a>
          </ng-container>

          <ng-template #checkPK>
            <ng-container>
              <div style="display: flex">
                <button
                  mat-button
                  color="accent"
                  (click)="changeView(effect, element)"
                >
                  {{ element[column] }}
                </button>
              </div>
            </ng-container>
          </ng-template>
        </ng-container>

        <ng-template #default> {{ element[column] }} </ng-template>
      </td>
    </ng-container>

    <ng-container
      [matColumnDef]="'f_' + column"
      *ngFor="let column of displayedColumns; let i = index"
    >
      <th formArrayName="searchItems" mat-header-cell *matHeaderCellDef>
        <mat-form-field [formGroupName]="i">
          <input
            formControlName="value"
            autocomplete="off"
            spellcheck="false"
            matInput
            placeholder="Search"
          />
        </mat-form-field>
      </th>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr id="searchRow" mat-header-row *matHeaderRowDef="searchTitles"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      (click)="rowClicked($event, row)"
      [ngClass]="{
        
        hovered: row.hovered,
        highlighted: selection.isSelected(row)
      }"
    ></tr>
  </table>
</div>
