<header>
  <app-header [sidenav]="sidenav"></app-header>
</header>

<main>
  <mat-sidenav-container fxFlex>
    <mat-sidenav #sidenav (click)="sidenav.toggle()">
      <app-side-navbar></app-side-navbar>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</main>
