<div @fadeIn class="page-details">
  <ng-container *ngIf="pageDetail$ | async as page; else notFound">
    <ng-container *ngIf="!catchedError; else errorView">
      <div class="row w-100 no-gutters m-0">
        <div class="col-md-6 col-12" style="overflow: hidden;">
          <div class="mr-md-3 my-3 bg-theme h-100">
            <div class="center pt-3"><h3>General information</h3></div>
            <ng-container
              *ngIf="page.generalColumns.length; else noGeneralColumns"
            >
              <div
                class="detail"
                *ngFor="let generalColumn of page.generalColumns"
              >
                <p>{{ generalColumn }}:</p>
                <p>{{ page.detail[generalColumn] || "-" }}</p>
              </div></ng-container
            >
            <ng-template #noGeneralColumns>
              <div class="detail"><p>No general information.</p></div>
            </ng-template>
          </div>
        </div>
        <div class="col-md-6 col-12" style="overflow: hidden;">
          <div class="ml-md-3 my-3 bg-theme h-100">
            <div class="center pt-3"><h3>Linked files</h3></div>
            <ng-container *ngIf="page.linkColumns.length; else noLinkColumns">
              <div class="detail" *ngFor="let linkColumn of page.linkColumns">
                <a
                  mat-button
                  color="accent"
                  class="link"
                  [href]="page.detail[linkColumn]"
                  target="_blank"
                  >{{ page.detail[linkColumn] }}</a
                >
              </div>
            </ng-container>
            <ng-template #noLinkColumns>
              <div class="detail"><p>No linked files.</p></div>
            </ng-template>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #errorView>
      <div class="level-not-found center">
        <h2>ERROR OCCURED</h2>
      </div>
    </ng-template>
  </ng-container>
  <ng-template #notFound>
    <div class="level-not-found center" @fadeIn>
      <h2>Page Not Found</h2>
    </div>
  </ng-template>
</div>
