div.detail {
  padding: 0.5rem 1rem;

  &:last-child {
    padding-bottom: 1rem;
  }

  & p:nth-child(1) {
    margin-right: 0.5rem;
    font-size: 1rem;
  }

  & p {
    display: inline-block;
  }
}

.link {
  word-break: break-all;
  white-space: normal;
  line-height: 150%;
  padding: 0.5rem 0.3rem;
}

.level-not-found {
  margin: auto;
  padding: 6rem;
}
