/* You can add global styles to this file, and also import other style files */

@import "variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/utilities";

* {
  margin: 0;
  padding: 0;
}

html {
  min-height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
body {
  height: 100vh;
  margin: 0;

  app-root {
    height: 100%;
    display: flex;
    flex-direction: column;

    main {
      height: 70vh;
      flex-grow: 1;

      display: flex;
      flex-direction: column;

      mat-sidenav-container {
        height: 90%;

        mat-sidenav-content {
          background: #fff;
        }
      }
    }
  }
}

.spinner {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.invisible {
  display: none;
}

// Table styles

.mat-header-cell {
  padding-right: 40px !important;
  padding-left: 20px !important;
}

.sticky-cell {
  border-right: 1px solid $custom-light-grey !important;
}

.mat-header-cell.columnTitles {
  padding-top: 20px;
  padding-bottom: 10px;

  vertical-align: top;
}

.mat-header-cell.columnTitles:hover {
  background-color: $custom-light-grey;
  cursor: pointer;
}

.mat-cell {
  padding-left: 20px !important;
  padding-right: 50px !important;
  white-space: nowrap;
  max-width: 600px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mat-row:hover {
  cursor: pointer;
}
.mat-row:hover:not(.focused-tr) {
  background-color: $custom-light-grey;
}

.focused-tr {
  background-color: $custom-red;
}

.focused-tr > td {
  font-weight: 500;
  color: white;
}

.filter {
  display: block !important;
}

::-webkit-scrollbar-thumb {
  background-color: #c7c7c7;
  border: 1px solid #f5f5f5;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
}

::-webkit-scrollbar {
  height: 0.5rem;
  width: 0.5rem;
}
