@import "~@angular/material/theming";

@include mat-core();

$primary: mat-palette($mat-purple);
$accent: mat-palette($mat-yellow);

$theme: mat-dark-theme($primary, $accent);

@include angular-material-theme($theme);

$bg-color: rgb(66, 66, 66);

.primary {
  color: map-get($primary, 500) !important;
}

.accent {
  color: map-get($accent, 500) !important;
}

.bg-theme {
  background-color: $bg-color;
}

.level-not-found {
  background-color: $bg-color;
}

#bottom-level-tab {
  background: $bg-color;
}

.currentTheme {
  background: lighten($color: #424242, $amount: 10%);
}

.mat-row:hover {
  background: rgb(77, 77, 77);
  cursor: pointer;
}

.mat-row.highlighted {
  background: rgb(88, 88, 88);
}
.mat-row:active {
  background: rgb(99, 99, 99);
}

::-webkit-scrollbar-track {
  background-color: #424242;
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: #aaaaaa;
  border: 1px solid #2b2b2b;
}
