@import "~@angular/material/theming";

@include mat-core();

$primary: mat-palette($mat-deep-purple, 500, 700, 900);
$accent: mat-palette($mat-deep-purple, 500, 700, 900);
$warn: mat-palette($mat-orange);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

.primary {
  color: map-get($primary, A700) !important;
}

.accent {
  color: map-get($accent, 900) !important;
}

.bg-theme {
  background-color: #fff;
}

#bottom-level-tab {
  background: #fff;
}

.currentTheme {
  background: darken($color: #fff, $amount: 10%);
}

.mat-row:hover {
  background: #eee;
  cursor: pointer;
}

.mat-row.highlighted {
  background: #ddd;
}
.mat-row:active {
  background: #edd;
}

::-webkit-scrollbar-thumb {
  background-color: #c7c7c7;
  border: 1px solid #f5f5f5;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
}

::-webkit-scrollbar {
  height: 0.5rem;
  width: 0.5rem;
}
