@import "variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/utilities";

@import "mat-dialog-size";

* {
  margin: 0;
  padding: 0;

  &:not(.mat-icon) {
    font-family: "Roboto Condensed", "Helvetica Neue", sans-serif !important;
  }
}

html {
  min-height: 100%;
  font-size: 14px;
}

body {
  height: 100%;

  a {
    text-decoration: none;
  }
}

main {
  @media screen and (max-width: 599px) {
    height: calc(100vh - 56px);
  }

  @media screen and (min-width: 600px) {
    height: calc(100vh - 64px);
  }

  mat-sidenav-container {
    height: 100%;
  }

  .mat-tab-label-content {
    text-transform: capitalize;
  }
}

table th,
table td {
  padding: 5px 10px 5px 24px !important;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@supports (-ms-ime-align: auto) {
  table th {
    border-left: 24px solid transparent;
    top: 35px !important;
  }
}

#theme-btn-light,
#theme-btn-dark {
  border-radius: 50%;
  width: 39px;
  height: 39px;
}

#theme-btn-light {
  background: #6200ea;
}

#theme-btn-dark {
  background: #ffeb3b;
}
