$large: 90vw;
$medium: 60vw;
$small: 35vw;

$breakpoint-xl: 1200px;
$breakpoint-lg: 992px;
$breakpoint-md: 768px;
$breakpoint-sm: 576px;

.d-lg {
  width: $large;
}

.d-md {
  width: $medium;
}

.d-sm {
  width: $small;
}

.d-lg,
.d-md,
.d-sm {
  max-width: unset !important;
  @media screen and (min-width: $breakpoint-sm) {
    &.sm-sm {
      width: $small;
    }

    &.sm-md {
      width: $medium;
    }

    &.sm-lg {
      width: $large;
    }
  }

  @media screen and (min-width: $breakpoint-md) {
    &.md-sm {
      width: $small;
    }

    &.md-md {
      width: $medium;
    }

    &.md-lg {
      width: $large;
    }
  }

  @media screen and (min-width: $breakpoint-lg) {
    &.lg-sm {
      width: $small;
    }

    &.lg-md {
      width: $medium;
    }

    &.lg-lg {
      width: $large;
    }
  }

  @media screen and (min-width: $breakpoint-xl) {
    &.xl-sm {
      width: $small;
    }

    &.xl-md {
      width: $medium;
    }

    &.xl-lg {
      width: $large;
    }
  }
}
