<div
  class="relations-container"
  [ngClass]="{ static: isAnyTabSelected() }"
  [ngStyle]="style"
  mwlResizable
  [enableGhostResize]="true"
  [resizeEdges]="{ top: true }"
  (resizeEnd)="onResizeEnd($event)"
>
  <div *ngIf="isAnyTabSelected()" class="close-btn" (click)="closeTab()">
    <mat-icon>close</mat-icon>
  </div>

  <mat-tab-group
    (selectedTabChange)="tabChange($event)"
    [selectedIndex]="tabPanelIndex + 1"
  >
    <mat-tab></mat-tab>
    <mat-tab
      *ngFor="let tab of tabModules; let i = index"
      [label]="tab.publishName"
    >
      <ng-container *ngIf="tabPanelIndex == i">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <ng-container
            [matColumnDef]="column.originalTitle"
            *ngFor="let column of relationColumns"
          >
            <th mat-header-cell class="columnTitles" *matHeaderCellDef>
              {{ column.publicTitle }}
            </th>
            <!-- <td mat-cell *matCellDef="let element"> {{ (element | getValue : column.originalTitle) | cleanData }} </td> -->
          </ng-container>

          <ng-container
            [matColumnDef]="'f_' + column.originalTitle"
            *ngFor="let column of relationColumns; let i = index"
          >
            <th mat-header-cell *matHeaderCellDef>
              <mat-form-field
                *ngIf="filtersCreated"
                class="filter"
                floatLabel="never"
              >
                <mat-label>Search</mat-label>
                <input
                  matInput
                  [formControl]="filters[column.originalTitle]"
                  (keyup)="onKeyUp()"
                  style="color: black; font-size: 14px;"
                />
              </mat-form-field>
            </th>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="originalColumnTitles"></tr>
          <tr mat-header-row *matHeaderRowDef="filterTitles"></tr>
          <tr mat-row *matRowDef="let row; columns: originalColumnTitles"></tr>
        </table>
      </ng-container>
    </mat-tab>
  </mat-tab-group>

  <div [ngClass]="{ invisible: !isAnyTabSelected() }">
    <mat-paginator
      showFirstLastButtons
      class="mx-3"
      [pageSizeOptions]="[10, 25, 50, 100, 200]"
      (page)="pageChange($event)"
      [pageIndex]="currentPageIndex"
      [pageSize]="currentPageSize"
      [length]="totalItems"
    >
    </mat-paginator>
  </div>
</div>

<!-- <dx-data-grid
      *ngIf="currentModule == module"
      class="px-3 table-container"
      id="gridContainer"
      [hoverStateEnabled]="true"
      [dataSource]="dataSource"
      [allowColumnResizing]="true"
      [showBorders]="false"
      [columnAutoWidth]="true"
      [columnResizingMode]="widget"
      [focusedRowEnabled]="false"
    >
      <dxo-scrolling mode="virtual"></dxo-scrolling>
      <dxo-export [enabled]="true" fileName="Export"></dxo-export>
      <dxo-paging [enabled]="false"></dxo-paging>
      <dxo-load-panel [enabled]="false"></dxo-load-panel>

      <dxi-column
        alignment="left"
        *ngFor="let tableColumn of relatedModules[currentModule].tableColumns"
        [dataField]="tableColumn.originalTitle"
        [caption]="tableColumn.publicTitle"
      ></dxi-column>
    </dx-data-grid> -->
