@import "variables";

::ng-deep .mat-tab-labels > .mat-tab-label:first-child {
  display: none;
}

.relations-container {
  border-top: 3px solid $custom-light-grey !important;
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: #fff;
  z-index: 500;
  overflow-y: auto;
  margin: 0 0.5rem;
}

.static {
  height: 40%;
  padding-bottom: 60px;
}

.mat-table {
  padding-bottom: 100px;
}

.mat-tab-group {
  height: 100%;
}

.mat-paginator {
  position: fixed;
  bottom: 0px;
  right: 0px;
}

.close-btn {
  z-index: 11;
  position: absolute;
  right: 0px;
  padding-right: 30px;
  top: 15px;
  background-color: #fff;
  cursor: pointer;
}

mwlResizable {
  box-sizing: border-box; // required for the enableGhostResize option to work
}
